In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('marketing_campaign.csv')

In [4]:
df.tail(2)

     ID;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;AcceptedCmp3;AcceptedCmp4;AcceptedCmp5;AcceptedCmp1;AcceptedCmp2;Complain;Z_CostContact;Z_Revenue;Response
2238  8235;1956;Master;Together;69245;0;1;2014-01-24...
2239  9405;1954;PhD;Married;52869;1;1;2012-10-15;40;...

In [ ]:
def groupby_csv(csv_file_path):
    """
    Reads in a CSV file and performs a groupby operation on all categorical columns.
    The function identifies categorical columns based on the dtype of each column.
    
    Parameters:
    - csv_file_path: str, path to the CSV file to read in
    
    Returns:
    - list of pandas.DataFrameGroupBy objects, one for each categorical column
    """
    # read in the CSV file as a pandas DataFrame
    df = pd.read_csv(csv_file_path)
    
    # identify the categorical columns based on dtype
    cat_cols = [col for col in df.columns if df[col].dtype == 'object']
    if len(cat_cols) == 0:
        raise ValueError('CSV file must have at least one categorical column')
    
    # group the data by each categorical column
    grouped_data = [df.groupby(col) for col in cat_cols]
    
    # return the list of grouped data as pandas.DataFrameGroupBy objects
    return grouped_data